# Packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/

# IDEs and editors
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]

# API Key file
secrets.json

# Microsoft files
~$*.docx
*.tmp
